<div class="ui segment wrapper">
  <app-navbar></app-navbar>
</div>

<div class="ui centered grid">
    <!-- Side component -->
    <div class="four wide column sideComponent">
        <app-side></app-side>
    </div>
    <!-- Main component -->
    <div class="eight wide column" style="margin-top:60px;">
      <div class="form-container">
        <form class="ui form">
            <div class="input-file-container">  
                <input class="input-file" id="my-file" ng2FileSelect [uploader]="uploader" (onFileSelected)="OnFileSelected($event)" type="file">
                <label tabindex="0" for="my-file" class="input-file-trigger" style="text-align:center;">Choose Profile Picture</label>
            </div>
            <p style="text-align:center;" class="file-return"></p>
        </form>
        <button class="ui disabled button updateBtn" style="display: block; margin: 10px auto;" (click)="Upload()">Update</button>
        <p style="text-align:center; color: #2cb5e8;"><em>{{ successMessage }}</em></p>
        <p style="text-align:center; color: red;"><em>{{ errorMessage }}</em></p>
    </div>
  </div>
</div>