<div class="ui segment wrapper">
  <app-navbar></app-navbar>
</div>
  
<div class="ui centered grid">
  <!-- Side component -->
  <div class="four wide column sideComponent">
    <app-side></app-side>
  </div>
  <!-- Main component -->
  <div *ngIf="loading" class="eight wide column" style="margin-top:60px;">
      <h1><em style="color:#2cb5e8">Loading...</em></h1>
  </div>
  <div *ngIf="!loading && notifications.length === 0" class="eight wide column" style="margin-top:60px;">
      <h1><em style="color:#2cb5e8">There are no new notifications at the moment</em></h1>
  </div>
  <div *ngIf="!loading" class="eight wide column" style="margin-top: 60px;">
    <button *ngIf="notifications.length > 0" class="ui secondary button deleteAllBtn" style="float:right;" (click)="DeleteAllNotifs()">Delete All</button>
    <button *ngIf="notifications.length > 0" class="ui red button markAllBtn" [disabled]="unreadNotifs === 0" style="float:right; margin-right: 10px;" (click)="MarkAllAsRead()">Mark All As Read</button>
    <div class="ui large feed" style="margin-top: 70px;">
      <div *ngFor="let notification of notifications; let i = index;" class="event" style="margin-bottom: 40px; font-size: 18px; word-spacing: 2px;">
        <div class="label" style="margin-top: 10px;">
          <i *ngIf="notification.isIcon" class="{{ notification.iconClass }}"></i>
          <img *ngIf="notification.isImg" style="height: 50px; width: 50px;" src="{{ profilePics[i] }}">
        </div>
        <div class="content">
          <div class="summary">
            <p class="user" style="font-size: 20px; margin-bottom: 0;">
              {{ notification.notificationType }}
            </p>
            <div class="date">
              <em>{{ TimeFromNow(notification.createdAt) }}</em>
            </div>
            <i *ngIf="!notification.read" class="tiny circle icon" style="color: #2cb5e8; float:right"></i>
          </div>
          <div class="extra content" style="margin-top: 10px;">
            <a (click)="OpenProfile(notification.sender)">{{ notification.senderName.firstName }} {{ notification.senderName.lastName }}</a>
            {{ notification.content }}
            <a *ngIf="notification.blog" (click)="OpenBlog(notification.blog)">{{ notification.blogTopic }}</a>
          </div>
          <div class="meta" style="margin-top: 10px;">
            <i *ngIf="!notification.read" class="check icon checkIcon" title="mark as read" (click)="MarkAsRead(i)"></i>
            <i *ngIf="notification.read" class="check icon" style="color: #03a87c;"></i>
            <i class="trash icon trashIcon" (click)="DeleteNotif(i)" title="delete"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>