.wrapper {
    background-image: linear-gradient(#9fb8ad, #2cb5e8) !important;
    border-radius: 0 !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.sideComponent {
    margin-top: 60px;
}

form {
    width: 40%;
}

input {
    border-top: none !important;
    border-left:none !important; 
    border-right: none !important; 
    border-bottom: 1px solid #2cb5e8 !important;
    border-radius: 0 !important;
}

.field {
    margin-bottom: 35px !important;
}