<div class="ui segment wrapper">
  <app-navbar></app-navbar>
</div>

<div class="ui centered grid">
    <!-- Side component -->
    <div class="four wide column sideComponent">
        <app-side></app-side>
    </div>
    <!-- Main component -->
    <div class="eight wide column" style="margin-top:60px;">
      <form class="ui form" [formGroup]="changePasswordForm" novalidate (ngSubmit)="ChangePassword()">
        <div class="field">
          <label>Current password</label>
          <input formControlName="currentPassword" type="password">
        </div>
        <div class="field">
          <label>New password</label>
          <input formControlName="newPassword" type="password">
        </div>
        <div class="field">
          <label>Confirm new password</label>
          <input formControlName="confirmPassword" type="password">
        </div>
        <p style="color: #2cb5e8;"><em>{{ successMessage }}</em></p>
        <p style="color: red;">{{ errorMessage }}</p>
        <button type="submit" class="ui button" [disabled]="!changePasswordForm.valid">Update Password</button>
      </form>      
    </div>
</div>