.wrapper {
    background-image: linear-gradient(#9fb8ad, #2cb5e8) !important;
    border-radius: 0 !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.sideComponent {
    margin-top: 60px;
}

.card {
    margin-bottom: 60px !important;
}

.extra.content {
    cursor: default !important;
}