<div class="ui segment wrapper">
  <app-navbar></app-navbar>
</div>
      
<div class="ui centered grid">
  <!-- Side component -->
  <div class="four wide column sideComponent">
    <app-side></app-side>
  </div>
  <!-- Main component -->
  <div class="eight wide column" style="margin-top:60px;">
    <div *ngFor="let user of following; let i = index">
      <div *ngIf="user._id !== userId" class="ui grid" style="margin-bottom: 60px;">
        <div class="two wide column" style="margin-right: 15px !important; padding:0 !important;">
          <img class="ui circular image" width="75" height="75" src="{{ user.profilePic }}">
        </div>
        <div class="thirteen wide column" style="padding: 0 !important; margin-left:0 !important;">
          <p style="margin-bottom:5px; font-size: 17px; word-spacing: 1px; cursor: pointer;" (click)="OpenProfile(user._id)" onmouseover="this.style.color='#2cb5e8'" onmouseout="this.style.color='black'">
            {{ user.firstName }} {{ user.lastName }}
          </p>
          <p style="margin-bottom:5px; color: #A9A9A9; word-spacing: 2px;">{{ user.aboutMe }}</p>
          <a class="{{i}}" (click)="UnfollowUser(user._id, i)" style="color:red; cursor: pointer;">UnFollow</a>
        </div>
      </div>
    </div>
  </div>
</div>