<div *ngIf="followers.length === 0"><h1>No followers</h1></div>
<div *ngFor="let follower of followers; let i = index" style="margin-top:60px;">
  <div *ngIf="follower._id !== currUserId" class="ui grid" style="margin-bottom: 40px !important;">
    <div class="two wide column" style="margin-right: 15px !important; padding:0 !important;">
      <img class="ui circular image" width="75" height="75" src="{{ follower.profilePic }}">
    </div>
    <div class="thirteen wide column" style="padding: 0 !important; margin-left:0 !important;">
      <p style="margin-bottom:5px; font-size: 17px; word-spacing: 1px; cursor: pointer;" (click)="OpenProfile(follower._id)" onmouseover="this.style.color='#2cb5e8'" onmouseout="this.style.color='black'">
        {{ follower.firstName }} {{ follower.lastName }}
      </p>
      <p style="margin-bottom:5px; color: #A9A9A9; word-spacing: 2px;">{{ follower.aboutMe }}</p>
      <a *ngIf="IsFollowing(follower._id)" style="color: #03a87c; cursor: text;">
        <i class="check icon" style="margin-right: 5px;"></i>
        <span>Following</span>
      </a>
      <a *ngIf="!IsFollowing(follower._id)" class="{{i}}" (click)="FollowUser(follower._id, i)" style="color:#2cb5e8; cursor: pointer;">Follow</a>
    </div>
  </div>
</div>